input:focus {
  outline: none;
}

.container {
  max-width: 100vw !important;
}

.container-page {
  flex-direction: row !important;
}

.container-posts {
  height: 408px;
  width: 60%;
  margin-left: 35%;
  background-color: rgba(5, 39, 48, 0.9);
  border-color: black;
  border-radius: 20px;
  border-style: groove;
}

.row {
  margin: 0 !important;
}

.search-box {
  width: 60%;
  margin-left: 35%;
  margin-bottom: 20px;
  height: 40px;
  border: white solid;
  border-radius: 20px;
}

.btn-primary {
  background-color: rgb(8, 8, 8) !important;
  margin-left: 25% !important;
}
