.form-group {
  margin-left: 50px;
  width: 40%;
}

.form-label {
  color: #fff;
}

.header {
  color: #fff;
  margin-left: 5%;
}

.form-container {
  margin-left: 30%;
}

.page-container {
  background-image: url("../../images/registration_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.btn-primary {
  margin-left: 20%;
}
